{% extends "base.html" %}

{% block title %}Prescriptions History{% endblock %}

{% block content %}
<div class="container">
    <h1>Prescriptions History</h1>
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Medication</th>
                <th>Dosage</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.patient.name }}</td>
                <td>{{ prescription.medication }}</td>
                <td>{{ prescription.dosage }}</td>
                <td>{{ prescription.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}